@use "sass:map";

// base & variables
@import 'base/type';
@import 'base/variables';
@import 'base/base';

// layout
@import 'layout/breakpoints';
@import 'layout/grid';

// colors
@import 'themes/colors';

// components
@import 'components/navbar';
@import 'components/card';
@import 'components/button';
@import 'components/forms';
@import 'components/list';
@import 'components/avatar';
@import 'components/toast';
@import 'components/modal';
@import 'components/footer';

// utilities
@import 'base/utilities';

// changes & additions

.sidebar, .sidebar-toggled {
    background: #5588FF;           // edit your sidebar color here
}

.nav-content {
    backdrop-filter: blur(12px);    //optional
}

.container {
    max-width: 100%;                //changed
    padding: 0px 10px;              //changed
}

// custom classes

.form-border-right {
    border-right: 1px solid #EDEDED;
    padding-right: 100px;
}

.firebaseui-card-content {
    padding: 0px !important;
}

.custom-li {
    display: flex;
    flex-direction: column;
    gap: $base-padding * 5;
}

.admin-container {
    padding: 20px 10px;
}

.admin-li {
    display: flex;
    flex-direction: column;
    gap: $base-padding * 2;
}

.dashboard-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17%;
}

@mixin modal-profile {
    position: fixed;
    left: 0;
    top: 0;
    transition: $base-easing;
    -webkit-transition: all 1s cubic-bezier(0.77,0,0.18,1);
    z-index: 1;
    width: 100%;
    overflow: auto;
}

.modal-profile {
    @include modal();
    transform: translateY(50%);
    .modal-content-profile {
        margin: auto;
        padding: 20px;
        width: 60%;
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
    }
}

.modal-hidden-profile {
    @include modal();
    transform: translateY(-100%);
    .modal-content-profile {
        margin: auto;
        padding: 20px;
        width: 60%;
    }
}

